#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff1900 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
       /* top: -1000px;
        opacity: 0; */
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }
}

#p {
    background: none;
    background-color: white;
    text-align: center;
    text-decoration: none;
    align-self: center;
    color: black;
    font: caption;
    size: 50px;
}

.p:hover{
    color: red;
    transition: all 0.3 ease;
}

